.placeSearch {
    width: 16em;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 2px solid #002f34;
    border-radius: 4px;
    background-color: white;
  }
  
  .placeSearch ::selection {
    border-color: #23e5db;
    outline-color: #23e5db;
  }
  .placeSearch:hover{
     border: 2px solid #08b1c7;
  }
  
  .placeSearch input {
    border-color: transparent;
    outline-color: transparent;
  }
 
  .showorhide{
    position: absolute;
    margin-top: 2px;
    left: 119px;
  }
  .showhide1{
    column-count: 1;
    width: 250px;
    box-shadow: 0 4px 12px 1px rgb(0 0 0 / 50%);
    border-radius: 4px;
    background-color: #fff;
    justify-content: space-between;
    padding: 16px 16px 0;
    padding-left: 0px;
    padding: 10px 0;
    cursor: pointer;
    overflow: auto;
    
  }
.popular111{
    padding-left: 30px;
    color: rgba(0,47,52,.64);
    font-size: 12px;
    text-transform: uppercase;
}

table{
  width: 100%;
  height: 100%;
  padding-top: 100px;
  

}
td {
  padding-left: 20px;
  padding-top: 10px;
  height: 48px;
  color: #002f34;
  font-size: 14px;
}

   table  :hover{
    background-color: #c8f8f6;}




 